<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net40" />
  <package id="HandyControl" version="3.3.0" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.6209" targetFramework="net40" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net40" />
  <package id="PdfSharp.Xps" version="1.0.0" targetFramework="net40" />
</packages>