<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.3.0" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.6209" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.2-beta2" targetFramework="net40" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net40" />
  <package id="PdfSharp.Xps" version="1.0.0" targetFramework="net40" />
  <package id="SharpDX" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net40" />
</packages>